@using AgentsPlayers.Domain.Entities
@using AgentsPlayers.ServicesInterfaces
@implements IDialogContentComponent
@inject IPlayerService PlayerService


<FluentDialogHeader ShowDismiss="true">
    <h5 class="modal-title">@((Content.Id == 0) ? "Add Player" : "Edit Player")</h5>
</FluentDialogHeader>


<FluentDialogBody>
    <FluentGrid>
        <FluentGridItem xs="12" md="8">
            <FluentGrid>
                <FluentGridItem xs="12" sm="6" md="6" lg="6">
                    <FluentTextField @bind-Value="@Content.FullName" style="width:100%">FullName</FluentTextField>
                </FluentGridItem>
                @* <FluentGridItem xs="12" sm="6" md="6" lg="6">
                    <FluentDatePicker @bind-Value="@Content.DateOfBirth" style="width:100%">DateOfBirth</FluentDatePicker>
                </FluentGridItem> *@
                <FluentGridItem xs="12" sm="6" md="6" lg="6">
                    <FluentTextField @bind-Value="@Content.Nationality" style="width:100%">Nationality</FluentTextField>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6" md="6" lg="6">
                    <FluentTextField @bind-Value="@Content.Position" style="width:100%">Position</FluentTextField>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6" md="6" lg="6">
                    <FluentNumberField @bind-Value="@Content.Height" style="width:100%">Height</FluentNumberField>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6" md="6" lg="6">
                    <FluentNumberField @bind-Value="@Content.Weight" style="width:100%">Weight</FluentNumberField>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6" md="6" lg="6">
                    <FluentNumberField @bind-Value="@Content.MarketValue" style="width:100%">MarketValue</FluentNumberField>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6" md="6" lg="6">
                    <FluentTextField @bind-Value="@Content.PreferredFoot" style="width:100%">PreferredFoot</FluentTextField>
                </FluentGridItem>
                @* <FluentGridItem xs="12" sm="6" md="6" lg="6">
                    <FluentTextField @bind-Value="@Content.ContractExpirationDate" style="width:100%">ContractExpirationDate</FluentTextField>
                </FluentGridItem> *@
                <FluentGridItem xs="12" sm="6" md="6" lg="6">
                    <FluentTextField @bind-Value="@Content.CurrentClub" style="width:100%">CurrentClub</FluentTextField>
                </FluentGridItem>
                @* <FluentGridItem xs="12" sm="6" md="6" lg="6">
                    <FluentTextField @bind-Value="@Content.AwardsAndAchievements" style="width:100%">AwardsAndAchievements</FluentTextField>
                </FluentGridItem> *@
                <FluentGridItem xs="12" sm="6" md="6" lg="6">
                    <FluentTextField @bind-Value="@Content.HealthStatus" style="width:100%">HealthStatus</FluentTextField>
                </FluentGridItem>
               @*  <FluentGridItem xs="12" sm="6" md="6" lg="6">
                    <FluentTextField @bind-Value="@Content.Languages" style="width:100%">Languages</FluentTextField>
                </FluentGridItem> *@
            </FluentGrid>
        </FluentGridItem>


    </FluentGrid>

</FluentDialogBody>

<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Neutral" @onclick="Cancel">Cancel</FluentButton>
    <FluentButton Appearance="Appearance.Accent" @onclick="SaveAsync">Save</FluentButton>
</FluentDialogFooter>
@code {

    [Parameter] public Player Content { get; set; } = new();
    [CascadingParameter] public FluentDialog Dialog { get; set; }


    private async Task SaveAsync()
    {
        if (Content.Id == 0)
        {
            await PlayerService.Save(Content);
        }
        else
        {
            await PlayerService.Update(Content);
        }

        await Dialog.CloseAsync(Content);
    }

    private async void Cancel()
    {
        await Dialog.CloseAsync();
    }
}
